html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
.wrapper {
    max-width: 1000px;
    margin: auto;
}
.item {
    float: left;
    margin: 0 5px 0 5px;
    width: 306px;
}
.top, .buttons, .buttons div, .flip {
    border: black solid 3px;
}
.top {
    height: 306px;
    background: black;
}
.top img {
    max-width: 300px;
    max-height: 300px;
}
.card {
    position: relative;
}
.card:active {
    transition: transform 0.6s ease;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
}
.flip {
    float: right;
    background: white;
    height: 30px;
    width: 30px;
    position: relative;
    top: 0;
    right: 0;
    border-top: none;
    border-right: none;
    z-index: 3;
}
.flip:hover {
    background: gray;
}
.flip p {
    margin-top: 0;
    margin-left: 7px;
}
.button, .buttons div {
    border-top: none;
}
.buttons {
    height: 63px;
    border-top: none;
}
.buttons div {
    border-left: none;
    border-bottom: none;
    float: left;
    height: 60px;
    width: 20%;
}
.buttons div:last-of-type {
    border-right: none;
}
.buttons div:hover {
    background: gray;
}
.buttons p {
    text-align: center;
    margin-top: 21px;
}
.pop-up-menu ul{
    display:inline-block;
    background: white;
    border: 0;
    list-style-type: none;
    width: 52px;
    z-index: 4;
    position: relative;
    top: -260px;
    left: 3px;
    opacity: 0;
    height: 0;
    transition: all 0.15s ease-in-out;
}
.pop-up-menu:hover ul {
    position: relative;
    top: -248px;
    left: 3px;
    opacity: 1;
    height: auto;
    border: 2px solid black;
}
.pop-up-menu li {
    display: none;
    position: relative;
    right: 21px;
}
.pop-up-menu:hover li {
    display: inline;
}
.pop-up-menu ul p:hover {
    color: gray;
}
.pop-up-menu:hover ul:after, .pop-up-menu:hover ul:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.pop-up-menu:hover ul:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: white;
    border-width: 5px;
    margin-left: -5px;
}
.pop-up-menu:hover ul:before    {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: black;
    border-width: 8px;
    margin-left: -8px;
}
.price {
    padding: 0 5px 0 5px;
}
.price p:first-of-type {
display: inline-block;
}

.price p:last-of-type {
    float: right;
    font-weight: bold;
}
@media (max-width: 1000px) {
    .wrapper {
        max-width: 306px;
        margin: auto;
    }
}
/*@media (max-width: 480px) {
    .wrapper, .item, .top, .buttons, .buttons div {
        width: 2em;
        height: 2em;
    }
}*/
