html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
/*.wrapper {
    width: 1269px;
    margin: auto;
}*/
.item {
    float: left;
    margin: 0 5px 0 5px;
    width: 306px;
}
.top, .buttons, .buttons div, .flip {
    border: black solid 3px;
}
.top {
    height: 306px;
}
.top img {
    max-width: 300px;
    max-height: 300px;
}
.top img:active {
    transition: transform 0.4s ease;
    transform: rotateY(90deg);
    background: url(images/fillmurray-300x300.jpg)
}
.flip {
    float: right;
    background: white;
    height: 30px;
    width: 30px;
    position: relative;
    top: -304px;
    right: 0;
    border-top: none;
    border-right: none;
}
.flip:hover {
    background: gray;
}
.flip p {
    margin-top: 0;
    margin-left: 7px;
}
.button, .buttons div {
    border-top: none;
    margin-top: -1px;
}
.buttons {
    height: 63px;
    border-top: none;
}
.buttons div {
    border-left: none;
    border-bottom: none;
    float: left;
    height: 60px;
    width: 20%;
}
.buttons div:last-of-type {
    border-right: none;
    margin-top: -31px;
}
.buttons div:hover {
    background: gray;
}
.buttons p {
    text-align: center;
    margin-top: 21px;
}
.pop-up-menu li{
    display:none;
    list-style-type: none;
    margin: 0 0 0 -38px;
}
.pop-up-menu li:last-of-type {
    display: block;
}
ul.pop-up-menu li:active {
    display: block;
}
.price {
    padding: 0 5px 0 5px;
}
.price p:first-of-type {
display: inline-block;
}

.price p:last-of-type {
    float: right;
}
